:root {
  --heigth-header: 10vh;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf')format("truetype");
}
.canvas{
  width: 80%;
  height: 80%;
}
*{
  margin: 0;
  padding:0;
  color: gray;
  background-color: white;
  font-family: 'Roboto Condensed';
}
.header{
  padding: 10px;
  font-size: 30px; 
  position: fixed;
  top:0;
  width: 100vw;
  border-bottom: solid 1px gray;
  z-index: 9;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 55px;
  }
.icon-menu{
  align-items: center;
  display: none;
}

.icon {
  width: 20px;
  height: 20px;
  text-align: right;
  fill: #555;
}
.menu{
  position: fixed;
  margin-top: 5px;
    padding: 10px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - var(--heigth-header) - 2vh);
    color: white;
  z-index: 4;
  }
.form-check{
  display: flex;
  flex-direction: row;
}
.error{
  color: white;
  font-size: x-large;
  background: red;
}
 .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .menu li span{
    font-weight: 900;
    border-bottom: solid 1px rgb(230, 229, 229);
  }
  .menu li a ,.menu li span{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* Change the link color on hover */
  .menu li a:hover {
    background-color: gray;
    color: white;
  }
  .table-main{
    padding: 10px;
  }

.main{
    background-color: #ffffff;
    width:100vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.active{
  background-color: gray;
  color: #ffffff;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  width: 100%;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.pagination ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: gray;
  border-radius: 5px;
  flex-grow: 1;
}

.pagination a.active,
.pagination a:hover {
  
  background-color: gray;
  color: #ffffff;
}
.image{
  display: flex;
  flex-direction: row;
}
.fleche{
  height: 30px;
  width: 30px;
}
.prev , .next{
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px gray;
}


.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #cccccc;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  margin-right: 10px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #cccccc;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-label input:checked ~ .checkmark::after {
  display: block;
}

.checkbox-text {
  font-size: 16px;
  color: gray;
}

.checkbox-label:hover {
  color: #555;
}

.checkbox-label input:focus ~ .checkmark {
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.2);
}
.supprimer{
  color: white;
  background-color: red;
}
@media screen and (max-width : 430px) {
  table td:nth-child(2), table th:nth-child(2) {
    display: none;
  }
    .content{
        flex-direction: column;
    }  
    .icon-menu{
      display: inline-block;
      margin-right: 15px;
    } 
    .header{
      display: block;
    }
    .header-div{
      display: flex;
    }
    .menu{
      display: none;
    }
    .menu.liste{
      display: block;
      height: 100%;
      overflow-y: hidden;
    }
    .pagination{
      
  justify-content: center;
  align-items: center;
    }
    .pagination ul{
      display: none;
    }
    .prev , .next{
      margin-left:10px;
      margin-right: 10px;
    }
    .canvas{
      width: 100%;
    }
    
}

@media screen and (min-width : 430px) {
  .menu{
    width: 200px;
  }
  
.main{
  margin-left: 220px;
}
}